# API Configuration
VITE_API_URL=http://localhost:5007

# Application Configuration
VITE_APP_NAME=Student Management System
VITE_APP_VERSION=1.0.0

# Blockchain (Certificates)
VITE_CERTIFICATE_CONTRACT_ADDRESS=
VITE_POLYGON_CHAIN_ID=80002
VITE_WC_PROJECT_ID=f27edded7262c6a0192162ba3e89db62
VITE_PINATA_JWT=
VITE_PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs

# Environment
NODE_ENV=development 